:root{
    --root-bg: #dedede;
    --primary-text: #2e2e2e;
    --primary-bg: #f4f3f2;
    --primary: #428c74;
    --primary-rgb: 66, 140, 116;
    --secondary: #428c74;
}

* {
  box-sizing: border-box;
}

body{
    background-color: var(--root-bg);
    margin: 0;
    
}

.page{
    background-color: var(--primary-bg);
    box-shadow: 0px 0px 25px #2e2e2e;
    
}

@media(min-width: 1850px){
    .page{
        max-width: 1800px;
        margin: 0 auto;
    }
}



.section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_primary{
    background-color: var(--primary);
}

.section_hero{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-image: url(img/1650x500.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media(max-width: 1370px){
    .section{
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

@media(max-width: 1025px){
    .section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media(max-width: 750px){
    .section{
        padding-top: 35px;
        padding-bottom: 35px;
    }
}


@media(max-width: 480px){
    .section{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}



.content{
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

@media(max-width: 1370px){
    .content{
        padding-left: 75px;
        padding-right: 75px;
    }
}

@media(max-width: 1025px){
    .content{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 750px){
    .content{
        padding-left: 35px;
        padding-right: 35px;
    }
}


@media(max-width: 480px){
    .content{
        padding-left: 25px;
        padding-right: 25px;
    }
}


p{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}


/* Text */
@font-face {
  font-family: 'Lora';
  src: url(fonts/Lora/Lora-VariableFont_wght.ttf);
}

.text{
    color: var(--primary-text);
    font-family: 'Lora';
    font-size: 18px;
    font-weight: 300;
}

.text_md{
    font-size: 16px;
}

.text_center{
    text-align: center;
}

@media(max-width: 1370px){
    .text{
        font-size: 16px;
    }
    .text_md{
        font-size: 15px;
    }
}

@media(max-width: 1025px){
    .text{
        font-size: 15px;
    }
    .text_md{
        font-size: 14px;
    }
}

@media(max-width: 750px){
    .text{
        font-size: 14px;
    }
    .text_md{
        font-size: 13px;
    }
}


@media(max-width: 480px){
    .text{
        font-size: 12px;
    }
    .text_md{
        font-size: 12px;
    }
}


/* Title */

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}


.title{
    color: var(--primary-text);
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
}

.title_sm{
    font-size: 24px;
}

.title_center{
    text-align: center;
}

.title_sec{
    color: var(--secondary);
}


@media(max-width: 1370px){
    .title{
        font-size: 40px;
    }
    .title_sm{
        font-size: 22px;
    }
}

@media(max-width: 1025px){
    .title{
        font-size: 36px;
    }
    .title_sm{
        font-size: 20px;
    }
}

@media(max-width: 750px){
    .title{
        font-size: 32px;
    }
    .title_sm{
        font-size: 18px;
    }
}


@media(max-width: 480px){
    .title{
        font-size: 28px;
    }
    .title_sm{
        font-size: 16px;
    }
}


/* Button */
.button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    color: var(--primary-text);
    background-color: transparent;
    display: inline-block;
    padding: 0.55em 2.5em;
    box-shadow: none;
    transition: 0.4s;

}

.button:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--secondary);
    box-shadow: 0px 1px 5px #2e2e2e;
}


@media(max-width: 1370px){
    .button{
        font-size: 17px;
    }
}

@media(max-width: 1025px){
    .button{
        font-size: 16px;
    }
}

@media(max-width: 750px){
    .button{
        font-size: 15px;
    }
}


@media(max-width: 480px){
    .button{
        font-size: 14px;
    }
}


/* Forms */
input{
    font-family: 'Lora';
    display: block;
    border: none;
    padding: 0.625em;
    font-size: 16px;
}

input[type='email'], input[type='text'],textarea{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}

input:focus, textarea:focus{
    outline: none;
    border: 1px solid var(--secondary);
}

textarea{
    font-family: 'Lora';
    display: block;
    border: none;
    padding: 0.625em;
    font-size: 16px;
    resize: none;
}

label{
    display: block;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}


@media(max-width: 1370px){
    input, textarea, label{
        font-size: 15px;
    }
}

@media(max-width: 1025px){
    input, textarea, label{
        font-size: 14px;
    }
}

@media(max-width: 750px){
    input, textarea, label{
        font-size: 13px;
    }
}


@media(max-width: 480px){
    input, textarea, label{
        font-size: 12px;
    }
}


/* Hero */
.hero{
}

.change-language{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero__content{
    padding-top: 20%;
    padding-bottom: 20%;
}

/* Vison */
.vision{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.vision__type{
    width: 50%;
}

.vision__text{
    margin-top: 15px;
}

.vision__img{
    width: 50%;
    padding-top: 30%;
    background-image:url(img/600x400.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 750px){
    .vision{
        flex-direction: column;
        gap: 25px
    }
    .vision__type{
        width: 100%;
    }
    .vision__img{
        width: 100%;
        padding-top: 60%;
    }
}

/* Vison 2 */
.vision2{
}

.vision2__tiles{
    display: flex;
    justify-content: center;
    margin-right: -25px;
    margin-bottom: -25px;
}

.vision2__tile-wrapper{
    width: 33%;
}

.vision2__tile-inner-wrapper{
    margin-right: 25px;
    margin-bottom: 25px;
}

.vision2__tile{
    position: relative;
    padding-top: 100%;
    background-color: #fff;
    background-image: url(img/400x400.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


.vision2__tile::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--primary-rgb), 0);
    transition: 0.4s;
}

.vision2__tile:hover::after{
    background-color: rgba(var(--primary-rgb), 0.25);
}

.vision2__content{
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 0;
    transition: 0.4s;

}

.vision2__title{
    padding-bottom: 15px;
}

.vision2__header{
    padding-bottom: 15px;
}

.vision2__text{
}

.vision2__tile:hover .vision2__content{
    transform: translateY(-5px) !important;
}


@media(max-width: 750px){
    .vision2__tiles{
        flex-wrap: wrap;
    }

    .vision2__tile-wrapper{
        width: 50%;
    }

}


@media(max-width: 480px){
    .vision2__tile-wrapper{
        width: 100%;
    }
}


/* Contact Form*/
.contact{

}
.contact__form{
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__text{
    display: block;
    max-width: 500px;
    margin: 15px auto 15px auto;
}

/* Support */
.support{
    display: flex;
    background-color: #f4f3f2;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 25px #2e2e2e;
}

.support__column_lg{
    width: 60%;
    padding: 60px
}

.support__column_sm{
    width: 40%;
    align-self: stretch;
    background-image: url(img/400x500.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.support__title{
    margin-bottom: 15px;
}

.support__desc{
    margin-bottom: 30px
}

.support__cat{
    margin-bottom: 15px;
}

@media(max-width: 750px){
    .support__column_lg{
        padding: 35px;
    }
    .support__column_sm{
        padding-top: 40%;
        width: 100%;
    }
    .support__column_lg{
       width: 100%;
    }
    .support{
        flex-direction: column-reverse;
    }
}


@media(max-width: 480px){
    .support__column_lg{
        padding-top: 25px;
    }
}
